body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.bg-nav {
  background-color: blanchedalmond;
}

.btn {
  color: rgb(166, 21, 21);
}
.btn:hover {
  color: #fff;
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-item {
  margin-left: 10px;
}
.navbar-nav .nav-link {
  color: black;
}
.navbar-nav .nav-link:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-link.active {
  background-color: blanchedalmond;
  color: rgb(166, 21, 21);
  font-weight: bold;
}

.carouselExampleIndicators .carousel-inner .carousel-item {
  margin-bottom: 0;
}

.bg-black {
  color: #fff;
}

.filtros {
  margin: 20px 0;
  padding: 20px 0;
  margin-left: 50px;
}
.filtros h3 {
  margin-bottom: 10px;
}

.filter-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover {
  background-color: #ff3814;
}

.articulos {
  margin-bottom: 20px;
}
.articulos .card {
  margin-bottom: 20px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 20px;
}
.container .row {
  align-items: center;
}
.container .form-group {
  margin-bottom: 20px;
}
.container .form-group .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container .form-group .form-check {
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #e6e6e6;
}

.btn-primary {
  background-color: #ffffff;
}
.btn-primary:hover {
  background-color: #e6e6e6;
}

.container-tutoriales {
  margin: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bajada-tutoriales {
  font-size: 16px;
  line-height: 1.5;
}

.grid-container-3x2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 100%;
  margin: 20px;
}

.grid-item {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.grid-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-clases {
  margin-top: 20px;
}
.container-clases .row {
  align-items: center;
}
.container-clases .img-profesora {
  display: block;
  width: 100%;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.container-clases .texto-profesora {
  margin-right: 40px;
  text-align: justify;
}
.container-clases .img-clases {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container-clases .seccion2 {
  margin-top: 40px;
}
.container-clases .seccion2 h2 {
  margin-left: 40px;
}
.container-clases .seccion2 p {
  text-align: justify;
  margin-left: 40px;
}
.container-clases .seccion2 .col-md-3 {
  margin-bottom: 10px;
  padding: 0;
}
.container-clases .seccion2 .row {
  margin-left: -15px;
  margin-right: -15px;
}
.container-clases .abonos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container-clases .abonos-container h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
.container-clases .abonos-container .abono {
  flex: 1;
  padding: 20px;
  text-align: center;
}
.container-clases .abonos-container .abono h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.container-clases .abonos-container .abono ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.container-clases .abonos-container .abono ul li {
  margin-bottom: 5px;
}
.container-clases .abonos-container .abono .btn-abono {
  font-size: 18px;
  background-color: #ff6347;
}

.footer {
  background-color: #d2f0dd;
  padding: 50px 0;
}
.footer h3 {
  color: #333;
  font-size: 20px;
}
.footer p {
  color: #424342;
}
.footer .social-links li {
  margin-right: 10px;
  list-style-type: none;
}
.footer .social-links li a {
  color: #424342;
  text-decoration: none;
}

.bottom-bar {
  background-color: #d2f0dd;
  color: #fff;
  padding: 10px 0;
}
.bottom-bar p {
  margin: 0;
  text-align: center;
}

@media (max-width: 767px) {
  .grid-container-3x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .footer .col-md-6 {
    margin-bottom: 30px;
  }
  .container-clases .img-profesora {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
