.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.bg-nav {
    background-color: blanchedalmond;
}

.btn {
    color:rgb(166, 21, 21)
}

.btn:hover {
    color: white;
}

.navbar-nav {
    margin-left: auto;
  }
  
  .navbar-nav .nav-item {
    margin-left: 10px;
  }


.navbar-toggler-icon {
    background-color: white;
} 

.navbar-nav .nav-link {
    color: black;
  }
  
  .navbar-nav .nav-link:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo al hacer hover */
  }

  .navbar-nav .nav-link.active {
    background-color: blanchedalmond; /* Cambia el color de fondo de la sección activa */
    color: rgb(166, 21, 21); /* Cambia el color del texto de la sección activa */
    font-weight: bold; /* Añade negrita al texto de la sección activa */
  }

.bg-black {
    color: white;
}


section#filtros {
    margin: 20px 0;
  }
  
  section#filtros h3 {
    margin-bottom: 10px;
  }
  
  section#articulos {
    margin-bottom: 20px;
  }
  
  section#articulos .card {
    margin-bottom: 20px;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }  

#footer {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  #footer h3 {
    color: #333;
    font-size: 20px;
  }
  
  #footer p {
    color: #777;
  }
  
  #footer .social-links li {
    margin-right: 10px;
    list-style-type: none;
  }
  
  #footer .social-links a {
    color: #777;
    text-decoration: none;
  }
  
  .bottom-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .bottom-bar p {
    margin: 0;
    text-align: center;
  }
  
  @media (max-width: 767px) {
    #footer .col-md-6 {
      margin-bottom: 30px;
    }
  }