.filtros {
    margin-top: 20px;
}

.custom-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.row.align-items-center {
    display: flex;
    justify-content: space-between;
}

.row.align-items-center > div {
    flex: 1;
    margin-right: 10px;
}

.filter-button {
    margin-top: 30px;
    background-color: rgb(237, 194, 113);
    color: black; 
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.filter-button:hover {
    background-color: orange; 
}




