// Formulario
@mixin form-styles($label-color, $input-background, $input-text-color, $input-border) {
    label {
        color: $label-color;
    }

    input[type="text"],
    input[type="tel"],
    select,
    textarea {
        background-color: $input-background;
        color: $input-text-color;
        border: $input-border;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .form-check-label {
        color: $input-text-color;
    }

    button[type="submit"] {
        background-color: $input-background;
        color: $input-text-color;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            background-color: darken($input-background, 10%);
        }
    }
}

// IMG FLUID
.img-fluid {
    width: 100%;
    height: auto;
}