

.bg-nav {
    background-color: $blanched-almond;
    padding-left: 0;
    padding-right: 0;

    .container {
        padding-left: 15px; 
        padding-right: 15px; 
    }
}


.navbar-nav {
    width: 100%;

    .nav-item {
        flex: 1;
        text-align: center;
        margin: 0;
    }

    .nav-link {
        color: #40042a;
        font-size: 22px;
        font-family:'Borel', cursive; 
        font-weight: bold;

        &:hover {
            color: rgb(0, 50, 59);
            background-color: rgba(0, 0, 0, 0.1);
        }

        &.active {
            background-color: $blanched-almond;
            color: rgb(166, 21, 21);
            font-weight: bold;
        }
    }
}