@import 'variables';
@import 'buttons';
@import 'carrusel';
@import 'contenedores';
@import 'filtros';
@import 'footer';
@import 'forms';
@import 'navbar';
@import 'forms';
@import 'articulos';

body {
    margin: $margin;
    padding: $padding;
    box-sizing: $box-sizing;
    background-color: if($primary-color ==#ffffff, $primary-color, $secondary-color);
}

// Logo
.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-family: 'Borel', cursive;
    margin-top: 30px;
}



@media (max-width: 767px) {

    .grid-container-3x2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .footer {
        .col-md-6 {
            margin-bottom: 30px;
        }
    }

    .container-clases {
        .img-profesora {
            margin-left: 0;
        }
    }
}